.instructions-container {
  max-width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
}

.instructions-container .ad-container {
  width: 32%;
  box-sizing: border-box;
  margin: 0 auto 10px; /* Add bottom margin for spacing between ads */
  padding: 10px;
  display: inline-block; /* Display ads inline to allow height variation */
  vertical-align: top; /* Align ads to the top */
}

.instructions-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #362266;
  border-bottom: 1px solid #ddd;
}

.instructions-container p {
  margin-bottom: 10px;
  font-size: 14px;
}

.instructions-container .disclaimer {
  color: #474747;
  margin-top: 10px;
}