    form {
      margin-bottom: 20px;
      text-align: center;
    }

    table {
	  width: 100%;
	  overflow-y: scroll;
    }

    th, td {
      padding: 8px;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }

    .fixed-bottom {
      height: 2vh;
	  position: fixed;
	  z-index: 9999;
	  bottom: 0px;
    }


.search-input,
.search-select {
  font-family: Tahoma;
  padding-left: 10px;
  padding-right: 10px;
  height: 58px;
  border: 1px solid #005E8A;
  box-shadow: 0 5px 15px rgba(45, 67, 115, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.search-select {
  font-size: 18px;
  border-radius: 5px 10px 10px 5px;
  width: 150px;
}

.search-input {
  font-size: 20px;
  width: 300px;
  border-radius: 5px;
}

.search-input:focus,
.search-select:focus {
  outline: none;
  background: #e6f7ff;
}

.search-select option {
  background-color: white;
}

.search-button {
  font-family: Tahoma;
  width: 100px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5D3AB0;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(45, 67, 115, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;  border-radius: 10px 5px 5px 10px;
}

.search-input:hover,
.search-select:hover,
.search-button:hover {
  box-shadow: 0 10px 20px #2D437380;
}

.search-button:hover {
  background-color: #362266;
}

.search-button:active {
  background-color: #5D3AB0;
}

#resultsTable {
  position: fixed;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 180px;
  margin-bottom: 500px;
  width: 92%;
  height: 55vh;
  overflow: auto;
  padding: 20px;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 9999;
}

.search-form {
  position: absolute;
  padding-top: 40px;
  width: 100%;
  z-index: 9999;
  border-radius: 5px;
}

a {
  color: #005E8A;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

a:hover,
a:active,
h3.current {
  color: #73FBFD;
  background-color: #C0C0C0;
}

::selection {
  background-color: #74B2CC;
  color: white;
}


#instructions {
  text-align: center;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 24px;
  color: #362266;
}

p {
  margin-bottom: 30px;
  font-size: 15px;
}


}
