form {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  overflow-y: scroll;
}



th, td {
  text-align: right;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFF5A6;
  padding-top: 20px;
  text-align: center;
  z-index: 9999;
}

.fixed-bottom p {
  margin-bottom: 20px;
  font-size: 14px;
}


.search-input,
.search-select {
  font-family: Tahoma;
  padding-left: 10px;
  padding-right: 10px;
  height: 58px;
  border: 1px solid #005E8A;
  box-shadow: 0 5px 15px rgba(45, 67, 115, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.search-select {
  font-size: 18px;
  border-radius: 5px 10px 10px 5px;
  width: 150px;
}

.search-input {
  caret-color: #2d4373;
  font-size: 20px;
  width: 300px;
  border-radius: 5px;
}

.search-input:focus,
.search-select:focus {
  outline: none;
  background: #E6DCFF;
}

.search-select option {
  background-color: white;
}

.search-button {
  font-family: Tahoma;
  width: 100px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5D3AB0;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(45, 67, 115, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;  border-radius: 10px 5px 5px 10px;
}

.search-input:hover,
.search-select:hover,
.search-button:hover {
  box-shadow: 0 10px 20px #2D437380;
}

.search-button:hover {
  background-color: #362266;
}

.search-button:active {
  background-color: #5D3AB0;
}

#resultsTable {
  position: fixed;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 25vh;
  margin-bottom: 5vh;
  width: 92%;
  height: 60%;
  overflow: auto;
  padding: 20px;
}

.topnav {
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: #4D3091;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  z-index: 9999;
}

.search-form {
  position: absolute;
  padding-top: 40px;
  width: 100%;
  z-index: 9999;
  border-radius: 5px;
}


/* Navigation menu links */
.topnav h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 5px 0px 15px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #4D3091;
  border-radius: 5px;
}


/* Default link style for top bar */
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Hover and active link style for top bar */
.topnav a:hover,
.topnav a:active,
.topnav h3.current {
  color: #73FBFD;
  background-color: #C0C0C0;
}


.parent-element {
  height: 60px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

a {
  color: #005E8A;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

a:hover,
a:active,
h3.current {
  color: #73FBFD;
  background-color: #C0C0C0;
}

::selection {
  background-color: #74B2CC;
  color: white;
}


  #resultsTable table {
    table-layout: fixed;
    width: 100%;
  }
  
  #resultsTable th:nth-child(1),
  #resultsTable td:nth-child(1) {
    width: 10%; /* Adjust the width for column 1 */
  }
  
  #resultsTable th:nth-child(2),
  #resultsTable td:nth-child(2) {
    width: 40%; /* Adjust the width for column 2 */
  }
  
  #resultsTable th:nth-child(3),
  #resultsTable td:nth-child(3),
  #resultsTable th:nth-child(4),
  #resultsTable td:nth-child(4) {
    width: 25%; /* Adjust the width for columns 3 and 4 */
  }
  
  #resultsTable th,
  #resultsTable td {
    word-wrap: break-word;
    max-width: 300px;
}


h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 24px;
  color: #362266;
}

p {
  margin-bottom: 30px;
  font-size: 15px;
}


/* עיצוב הוראות שימוש */
.instructions-container {
  max-width: 400px;
  text-align: center;
  margin: auto;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
}

.instructions-container h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #362266;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.instructions-container p {
  margin-bottom: 15px;
  font-size: 16px;
  padding: 0 20px;
}

.instructions-container .disclaimer {
  color: #6B6B6B;
  font-size: 14px;
  padding: 0 20px 20px;
}


.loading-container {
  display: flex;
  padding-top: 20px;
  align-items: baseline;
  justify-content: center;
}

.loading-image {
  width: 20px;
  padding-left: 10px;
}

.loading-text {
  font-size: 20px;
  color: #362266;
  font-weight: 600;
}




/* מודעת שדרוג */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal {
  max-width: 600px;
  padding: 40px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10001;
}

.modal h2 {
  font-size: 24px;
  color: #362266;
  margin-bottom: 20px;
}

.modal p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}

.modal a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5D3AB0;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.modal a:hover {
  background-color: #362266;
}





@media screen and (max-width: 900px) {
.topnav {
  height: auto;
  padding: 10px 0;
  position: static;
  overflow: hidden;
}

.topnav img {
position: static;
margin: 0 auto;
}

img.button-image {
  max-width: 100%;
  height: auto;
  display: block;
}


.parent-element {
  max-width: 100%;
  width: 100%;
}


.topnav h3 {
  left: auto;
  right: auto;
  float: center;
  font-size: 20px;
}


.topnav a {
  display: block;
  float: none;
  text-align: center;
  padding: 10px;
}

.topnav a:hover,
.topnav a:active,
.topnav h3.current {
color: #005E8A;
}

/* Content on the left side */
.topnav {
left: auto;
right: auto;
float: center;
position: static;
}

.left_item {
  float: left;
  left: 5px;
}

.search-input {
  width: 150px;
  font-size: 16px;
}

.search-select {
  width: 80px;
  font-size: 14px;

}

.search-button {
  width: 60px;
  font-size: 16px;
}

.search-button,
.search-select,
.search-input {
  height: 50px; 
}


#resultsTable {
  margin-top: 15vh;
  margin-bottom: 5vh;
  width: 90%;
  center: auto;
  height: 60%;
  padding: 5px;
}

#resultsTable table {
  table-layout: fixed;
  width: 100%;
}

th {
  font-size: 12px;
  text-align: center;
}

td {
  font-size: 12px;
}

  #resultsTable th:nth-child(1),
  #resultsTable td:nth-child(1) {
    width: 20%; /* Adjust the width for column 1 */
  }
  
  #resultsTable th:nth-child(3),
  #resultsTable td:nth-child(3),
  #resultsTable th:nth-child(4),
  #resultsTable td:nth-child(4) {
    width: 20%; /* Adjust the width for columns 3 and 4 */
  }

#resultsTable th,
#resultsTable td {
  word-wrap: break-word;
  max-width: 300px;
}

a {
  padding: 7px 10px;
}


.fixed-bottom {
  position: fixed;
  padding-top: 15px;
  text-align: center;
  height: 30px;
  z-index: 9999;
}

.fixed-bottom p {
  font-size: 12px;
}

}
