:root {
  --primary-color: #7E57C2;
  --primary-hover: #5C3899;
  --highlight-color: #00BCD4;
  --secondary-color: #C0C0C0;
  --white: #fff;
  --font-base: 'Arimo', sans-serif;
  --light-gray-bg: #f0f2f5;
  --unit-bg: var(--white);
  --border-color: #e0e0e0;
  --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  --border-radius-main: 14px;
  --navbar-height: 68px;
  --search-field-height: 46px;
  --filter-section-height: 55px;
  --fixed-top-margin: 10px;
  --scrollbar-track-line-color: rgba(126, 87, 194, 0.2);
  --sidebar-width: 200px;
  --layout-gap: 25px;
}